/* --- Responsive --- */

/* Falta el responsive para pantallas de computadora chicas */

/* --- tablets ---*/

/* Respaldo */

@media screen and (min-width: 601px) and (max-width: 1024px) {

    /* generals */

    .border{
        width: 95%;
        align-self: center;
    }

    /* Login */

    .icon{
        display: none;
    }

    .card-img{
        display: none;
    }

    .card-login .aling-self-flex-end{
        align-self: center;

    }

    .margin-top.margin-right{
        margin: 0;
    }


    .card-login{
        border-radius: 30px;
        position: relative;
        height: 40rem;
        width: 35rem;
    }

    
    #login.dark-background{
        background-color: var(--color-background-dark);
    }

    #login.light-background{
        background-color: var(--color-background-light);
    }

    .card-container-login.shadow-light{
        box-shadow: none;
    }
    
    .card-container-login.shadow-dark{
        box-shadow: none;
    }

    /* Sing up */

    .card-singup{
        width: auto;
        margin: auto;
        border-radius: 0;
    }

    .btn-show {
        left: 100%;
        top: 48%;
        transform: translate(-100%, -48%);
    }

    .card-singup .margin-top{
        margin-top: 0.5rem;
    }

    #singup.light-background{
        background-color: var(--color-background-light);
    }
    
    #singup.dark-background{
        background-color: var(--color-background-dark);
    }
    
    .card-singup.shadow-light{
        box-shadow: none;
    }
    
    .card-singup.shadow-dark{
        box-shadow: none;
    }

    /* terms and privacy */

    .width-terms-privacy{
        flex-direction: column;
        display: flex;
        margin: auto;
        width: 100%;
    }

    .width-terms-privacy .texts{
        padding: 0 1rem;
    }

    .width-terms-privacy .subtitle{
        padding: 0 1rem;
    }

    /* 404 */

    .width-404{
        flex-direction: column;
        display: flex;
        margin: auto;
        width: 100%;
    }

}

/* --- Movil --- */ 

@media screen and (max-width: 600px) {

    /* generals */

    .form{
        width: 85%;
    }

    .button-primary{
        width: 85%;
    }
    
    .border{
        width: 95%;
        align-self: center;
    }

    .border-s{
        width: 3rem;
    }
    

    /* log in */

    .icon{
        display: none;
    }

    .card-login .aling-self-flex-end{
        align-self: center;

    }

    .margin-top.margin-right{
        margin: 0;
    }

    .card-img{
        display: none;
    }

    .card-login{
        border-radius: 0px;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .forgot{
        width: 85%;
    }

    #login.dark-background{
        background-color: var(--color-background-dark);
    }

    #login.light-background{
        background-color: var(--color-background-light);
    }

    .card-container-login.shadow-light{
        box-shadow: none;
    }
    
    .card-container-login.shadow-dark{
        box-shadow: none;
    }

    /* sing up */

    .card-singup{
        width: auto;
        margin: auto;
        border-radius: 0;
    }

    .btn-show {
        left: 92%;
        top: 50%;
        transform: translate(-92%, -50%);
    }

    .card-singup .texts{
        padding: 0 1rem;
    }

    .card-singup .form .margin-bot{
        margin: 0.5rem;
    }
    
    .card-singup .margin-top{
        margin: 0.5rem;
    }

    .card-singup .margin-bot{
        margin: 0.5rem;
    }

    #singup.light-background{
        background-color: var(--color-background-light);
    }
    
    #singup.dark-background{
        background-color: var(--color-background-dark);
    }
    
    .card-singup.shadow-light{
        box-shadow: none;
    }
    
    .card-singup.shadow-dark{
        box-shadow: none;
    }

    /* terms and privacy */

    .width-terms-privacy{
        flex-direction: column;
        display: flex;
        margin: auto;
        width: 100%;
    }

    .width-terms-privacy .texts{
        padding: 0 1rem;
    }

    .width-terms-privacy .subtitle{
        padding: 0 1rem;
    }

    #optionsTerms-Privacy .button-secondary{
        width: 5rem;
        margin: 0 1rem;
    }

    /* Recuperar contraseña / recover password */

    .width-RecoPass{
        flex-direction: column;
        display: flex;
        margin: auto;
        width: 100%;
    }

        /* 404 */

    .width-404{
        flex-direction: column;
        display: flex;
        margin: auto;
        width: 100%;
    }
}
